.main{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: rgb(216, 216, 55); */
}

.panels{
  display: flex;
  background-color: #13293D;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  height: auto;
}

.panels:nth-of-type(2){
  padding-block: 100px 200px;
}

.panels:nth-of-type(5){
  background-color: aliceblue;
  padding-block: 20px 50px;
}

.panels_short{
  min-height: 400px;
  display: flex;
  background-color: #13293D;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-block: 20px;
}

 .greetings{
  height: 60%;
  width: 90%;
  display: flex;
  align-items: center;
}

.greetings .pfp{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.greetings .pfp .image{
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
}

.greetings .pfp .image img{
  flex-grow: 1;
  border-radius: 100%;
}
  

.greetings .pfp .image h6{
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-table;
  background-color: #0e161b;
  font-size: 4rem;
  margin: 0;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 10%;
}

.greetings .msg{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.greetings .msg .top{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.greetings .msg .top{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.greetings .msg .mid{
  height: 75%;
  font-size: 1.75rem;
  padding-block: 20px;
}

.greetings .msg .bot{
  display: flex;
  align-items: end;
  height: 10%;
}

.projects{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
}

.projects .title{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.projects .content .browser{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.projects .content .techs{
  height: 150px;
  aspect-ratio: 1;
}

footer .divOut{
  height: 25vh;
  padding-inline: 5%;
  display: flex;
}

footer .divOut .partition{
  width: 25%;
  height: 100%;
}

@media (max-width: 768px) {
  .main{
    font-size: 1.4rem;
  }

  .panels{
    padding-bottom: 30px;
  }

  .panels:nth-child(2){
    padding-block: 0;
  }

  .greetings{
    margin-top: 2%;
    flex-direction: column;
    height: auto;
  }

  .greetings .pfp{
    width: 100%;
    height: 40%;
    justify-content: center;
  }

  .greetings .pfp .image{
    width: auto;
    height: 100%;
    overflow: hidden;
    scale: .9;
  }

  .greetings .msg{
    width: auto;
    height: 60%;
  }

  .greetings .msg .top{
    /* font-size: 2.4vw; */
    font-size: 1.1rem;
    height: auto;
  }

  .greetings .msg .mid{
    /* font-size: 2.4vw; */
    text-align: center;
    font-size: 1.4rem;
    height: auto;
  }

  .greetings .msg .top{
    margin: 0;
  }

  .greetings .msg .bot{
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .greetings .msg .mid{
    font-size: 1.1rem;
  }
}