.main{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200vh;
  /* background-color: rgb(216, 216, 55); */
}

.bg1{
  background-image: '../assets/2.png';
}

.bg2{
  background-image: url('../assets/3.png');
}

.bg3{
  background-image: url('../assets/4.png');
}

.bg4{
  background-image: url('../assets/5.png');
}

.bg5{
  background-image: url('../assets/6.png');
}

.bg6{
  background-image: url('../assets/7.png');
}

.bg7{
  background-image: url('../assets/8.png');
}