.main{
  /* min-height: 1px; */
  min-width: 144px;
  width: 525px;
  /* height: 480px; */
  aspect-ratio: 35/32;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 12px;
  z-index: 5;
}

.main a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.outer{
  width: 100%;
  height: 100%;
}

.imgCon{
  width: 100%;
  height: 85%;
  /* background-color: aquamarine; */

  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.imgCon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleCon{
  height: fit-content;
  background-color: #2A628F;

  border-radius: 0 0 12px 12px;
  transition: ease-in 120ms;
  padding-inline: 20px;
}

.titleCon .title{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 200ms;
}

.titleCon .title h3{
  margin: 0;
  white-space:nowrap;
  padding: 8px;
  transition: ease-in 200ms;

  font-size: 1.3rem;
}

.titleCon .title hr{
  width: 0%;
  height: 2px;
  border: none;
  background-color: #D96080;
  justify-self: end;
  transition: ease-in 200ms;
  margin: 0;
}

.titleCon .description{
  transition: ease-in 200ms;
  text-align: center;
  overflow: hidden;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.titleCon .description div{
  overflow: hidden;
  font-size: 1.15rem;
}

.titleCon .prompt{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 0;
  overflow: hidden;
}

.titleCon .prompt span{
  padding-inline: 8px;
}

.main a:hover .titleCon .title h3{
  transition: ease-in 200ms;
  font-size: 1.7rem;
  color: #FFF5BD;
}

.main a:hover .titleCon .title hr{
  transition: ease-in 200ms;
  width: 100%;
}

.main a:hover .titleCon .description{
  grid-template-rows: 1fr;
  padding-bottom: 12px;
}

.main a:hover .titleCon .prompt{
  height: auto;
  padding-bottom: 12px;
}

/*tablet*/
@media (max-width: 768px) {
  .main{
    width: 420px;
  }

  .main .titleCon .title h3{
    font-size: 1.3rem;
    color: #FFF5BD;
  }

  .main a:hover .titleCon .title h3{
    font-size: 1.3rem;
  }
  
  .main .titleCon .title hr{
    width: 100%;
  }
  
  .main .titleCon .description{
    grid-template-rows: 1fr;
  }

  .main a:hover .titleCon .description{
    padding-bottom: 0;
  }

  .main .titleCon .description div{
    font-size: 1.15rem;
  }

  .main .titleCon .prompt{
    height: auto;
    padding-bottom: 4px;
  }

  .main a:hover .titleCon .prompt{
    padding-bottom: 4px;
  }

  .main .titleCon .prompt span{
    font-size: .8rem;
    padding: 0;
  }

  .icon{
    scale: .8;
  }
}

/*phone*/
@media (max-width: 480px) {
  .main{
    width: 315px;
  }

  .main .titleCon .title h3{
    font-size: 1rem;
  }

  .main a:hover .titleCon .title h3{
    font-size: 1rem;
  }

  .main .titleCon .description div{
    font-size: .9rem;
  }

  .main .titleCon .prompt{
    padding-bottom: 0px;
  }

  .main a:hover .titleCon .prompt{
    padding-bottom: 0px;
  }

  .icon{
    scale: .6;
  }
}
